#nav-bar {
  position: fixed;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #00a087;
  font: #e8fdff;
  padding: 0em 2em;
  z-index: 1;
}
#nav-bar .logo {
  order: 1;
  height: 80px;
  width: 80px;
  float: left;
}
#nav-bar .header {
  order: 2;
  color: white;
  font-size: 2em;
  float: left;
  vertical-align: center;
  margin-left: 10px;
  line-height: 80px;
}
#nav-bar #compose-button {
  order: 3;
  /* float: right; */
  position: fixed;
  width: 123px;
  right: 15%;
  height: 60px;
  font-size: 21px;
  color: #00a087;
  background-color: #d4e6d9;
  /* font-family: "roboto"; */
  border-radius: 9px;
  /* z-index: -1; */
  border: 2px solid black;
}
#nav-bar #compose-button:hover {
  color: black;
  background-color: white;
}
