.new-tweet {
  margin-top: 80px 0 12px;
  border: 2px solid #cccccc;
  border-radius: 12px;
  background-color: #eee;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  padding: 1em;
}
.new-tweet h2 {
  font-weight: bold;
  position: relative;
  bottom: 20px;
  margin-left: 7px;
  margin-right: 7px;
  border-bottom: 2px solid black;
}
/*character counter*/
.new-tweet .counter {
  float: right;
  vertical-align: baseline;
}
.red-text {
  color: red;
}

/*text input box*/
form textarea {
  width: 100%;
  background-color: #ffffff;
  margin: 0px auto;
  padding: 3px;
  font-weight: 200;
  height: 4.5em;
}
#footer-buttons {
  display: none;
  color: #75c9bc;
  float: right;
}
.sent-tweets:hover #footer-buttons {
  display:inline;
}